#cmake code owners
CMakeLists.txt        @rapidsai/rapids-cmake-codeowners
*.cmake               @rapidsai/rapids-cmake-codeowners
**/cmake/             @rapidsai/rapids-cmake-codeowners
/docs/                @rapidsai/rapids-cmake-codeowners
/example/             @rapidsai/rapids-cmake-codeowners
/rapids-cmake/        @rapidsai/rapids-cmake-codeowners
/testing/             @rapidsai/rapids-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.shellcheckrc           @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
